.cache/
.dap-breakpoints
.emacs.desktop
.lsp-session-v1
.mc-lists.el
abbrev_defs
auto-save-list/
bookmarks
eclipse.jdt.ls/
eglot-java-eclipse-jdt-cache/
eln-cache/
elpa/
elpaca/
eshell/
places
project-skeletons/
projects
request/
saves/
share/
temporal/
transient/
tree-sitter/
workspace/
image-dired/